*~
valgrind_nexus.supp
compile_commands.json
build/
lib/
doc/
.clangd/
bench/**/out/
/include/virg/nexus/nx_config.h
/tests/test_data.hh
**/__pycache__/
/pyvirg/dist/
/pyvirg/virg.egg-info/
/pyvirg/docs/build/
/pyvirg/docs/source/generated/
